.footer {
  flex-grow: 0;
  height: 32px;
  padding: 0 24px 24px;
  position: relative;

  @media (min-width: 1440px) {
    height: 40px;
    padding: 0 39px 31px 43px;
  }

  .footer-btn {
    position: absolute;
    bottom: 16px;
    right: 16px;
    background-color: var(--secondary-color);
  }
  .footer-btn:hover {
    background-color: var(--secondary-focused-color);
  }
}

.on-new-event {
  display: none;

  @media (min-width: 1440px) {
    display: inherit;
  }
}

.on-dashboard {
  height: 0;
  padding-bottom: 0;
}